<!DOCTYPE html>
<html>
<head>
    <title>Painel de Senhas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Painel de Senhas - {{ request.user.attendant.clinic.name }}</h1>
    <h2>Senhas na Fila</h2>
    <ul>
        {% for password in passwords %}
        <li>Senha: {{ password.number }}</li>
        {% endfor %}
    </ul>

    <h2>Últimas Senhas Chamadas</h2>
    <ul>
        {% for password in called_passwords %}
        <li>Senha: {{ password.number }} - Guichê {{ password.counter }} - Hora: {{ password.time_called }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'clinic:call_password' %}">Chamar Próxima Senha</a>
    <a href="{% url 'clinic:start_day' %}">Iniciar Dia</a>
</body>
</html>
